<div class="create-container">
    <h2>Create an Account</h2>
    <form (ngSubmit)="form.valid && onSubmit()" #form="ngForm">

        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" [(ngModel)]="username" #name="ngModel" required>
            <div *ngIf="name.invalid && (name.dirty || form.submitted)" class="alert">
                <div *ngIf="name.errors?.['required']">
                    Name is required.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" #pw="ngModel" required>
            <div *ngIf="pw.invalid && (pw.dirty || form.submitted)" class="alert">
                <div *ngIf="pw.errors?.['required']">
                    Password is required.
                </div>
            </div>
        </div>

        <button type="submit">Create Account</button>
    </form>

    <div *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
    </div>

    <a routerLink="/login">Have an account? Login!</a>
</div>