<div *ngIf="isLoggedIn; else loggedOut">
    <h3>Favorites:</h3>
    <table>
        <tr>
            <!-- <th>User ID</th> -->
            <th>Input</th>
            <th>Output</th>
        </tr>
        <tr *ngFor="let d of data; let i = index">
            <!-- <td>{{ d.userId.N }}</td> -->
            <td>{{ d.input }}</td>
            <td>{{ d.output }}</td>
            <td><button (click)="onDelete(i)">Delete</button></td>
        </tr>
    </table>
</div>

<ng-template #loggedOut>
    <p>Please log in to see your favorites.</p>
    <a routerLink="/login">Login</a>
</ng-template>