<div *ngIf="isLoggedIn; else loggedOut">
    <h3>Favorites:</h3>
    <table>
        <tr>
            <th>User ID</th>
            <th>Input Text</th>
            <th>Output Text</th>
        </tr>
        <tr *ngFor="let d of data">
            <td>{{ d.userId.N }}</td>
            <td>{{ d.inputText.S }}</td>
            <td>{{ d.outputText.S }}</td>
        </tr>
    </table>
</div>

<ng-template #loggedOut>
    <p>Please log in to see your favorites.</p>
    <a routerLink="/login">Login</a>
</ng-template>