<app-convention-selector [value] = "inputConv"></app-convention-selector>
<app-convention-selector [value] = "outputConv"></app-convention-selector>

<div>
    <textarea id="inputTextBox" [(ngModel)]="textAreaValue" placeholder="Enter text" rows="10" columns="50"></textarea>
</div>
<button (click)="sendDataToBackend()">Translate</button>

<div>
    <textarea id="outputTextBox"  [(ngModel)]="receivedData"  placeholder="Translation" rows="10" columns="50" [style.white-space]="'pre-line'"></textarea>
</div>

