/* create account, login buttons */
.button-link {
    display: inline-block;
    padding: 8px 10px;
    text-decoration: none;
    background-color: rgb(0, 123, 255);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 123, 255);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-right: 15px;
}

.button-link:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 86, 179);
    border-color: rgb(0, 86, 179);
}

.button-container {
    position : absolute;
    top : 24px;
    right : 0;
}

.welcome {
    margin-right : 10px;
}

/* convention selection */
.conv-group {
    display: flex;
    margin-left: 10px;
}

.conv-button {
    padding: 10px 15px;
    color: rgb(0, 86, 179);
    background-color: white;
    border: solid 1px rgb(232, 232, 232);
    cursor: pointer;
    border-radius: 4px;
    margin-right: 7px;
    font-size: medium;
}

.conv-button:hover {
    background-color: rgba(173, 216, 230, 0.1);
}

.conv-button.selected {
    background-color: rgba(232,240,254);
}

/* text area */
.textarea-container {
    display: flex;
    width: 100%;
    gap: 5px;
    margin-top : 20px;
    justify-content: center;
}

.text-icon-container {
    display: flex;
    width: 100%;
    position: relative;
}
  
textarea {
    resize : none;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    min-height: 200px;
    max-height: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    line-height: 1.5;
    flex: 1;
    padding: 10px 30px 15px 10px;
}

textarea:focus,
input:focus {
  outline: none;
}

.input {
    border: solid 1px rgb(232, 232, 232);
}

.output {
   border: none;
}

/* text area icons */
.icon {
    position: absolute;
    top: 10px; 
    right: 10px; 
    cursor: pointer;
    font-size: 30px;
    transition: color 0.3s ease;
}

.icon:hover {
    color: rgb(0, 123, 255);
}

.icon.selected {
    color: rgb(0, 123, 255);
}

/* saved */
.saved-container {
    margin: 100px;
}

.saved-icon {
    font-size: 80px;
    color: rgb(208, 208, 208);
}

.saved-icon:hover {
    color: rgb(0, 123, 255);
}

p {
    margin: auto;
    font-size: 14px;
    color : rgb(160, 160, 160);
}

a {
    text-decoration: none;
}