<div *ngIf="isLoggedIn; else loggedOut">
    <p>Welcome back {{ username }}!</p>
    <button (click)="logout()">Logout</button>
</div>

<ng-template #loggedOut>
    <a routerLink="/create">Create Account</a>
    <a routerLink="/login">Login</a>
</ng-template>

<div>
    <span>Convert to: </span>
    <select class="convention" [(ngModel)]="convention" (change)="onConvChange()">
        <option value="camel-case">camelCase</option>
        <option value="snake-case">snake_case</option>
        <option value="pascal-case">PascalCase</option>
        <option value="kebab-case">kebab-case</option>
    </select>
</div>

<div>
    <textarea id="inputTextBox" [(ngModel)]="inputData" (input)="onTextInput()" placeholder="Enter text" rows="10" columns="50"></textarea>
</div>

<div>
    <textarea id="outputTextBox" [(ngModel)]="outputData" placeholder="Translation" rows="10" columns="50"></textarea>
</div>

<button id="favorite" (click)="saveData()">Favorite</button>
<div *ngIf="message">
    {{ message }}
</div>

<div>
    <a routerLink="/saved">GET FAVORITES</a>
</div>