.button-link {
    display: inline-block;
    padding: 8px 10px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-right: 15px;
}

.button-link:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3;
}

.button-container {
    position : absolute;
    top : 24px;
    right : 0;
}

.convention-options {
    display: flex;
    align-items: center; 
}

.convention-options label {
    margin-right: 10px; /* Add spacing between label and select */
  }
  
  .convention-options select {
    flex: 1; /* Allow the select to expand and fill available space */
  }
  
textarea {
    width: 47%;
    border-radius: 10px;
    height: 200px;
    resize : none;
}

.textarea-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}