<div class="button-container">
    <div *ngIf="isLoggedIn; else loggedOut">
        <span>Welcome back {{ username }}!</span>
        <a class="button-link" href="#" (click)="onLogout()">Logout</a>
    </div>
    
    <ng-template #loggedOut class="button-container">
        <a class="button-link" routerLink="/create">Create Account</a>
        <a class="button-link" routerLink="/login">Login</a>
    </ng-template>
</div>

<div class="conv-group">
    <button class="conv-button" (click)="selectConv('snake-case')" [class.selected]="convention === 'snake-case'">snake_case</button>
    <button class="conv-button" (click)="selectConv('camel-case')" [class.selected]="convention === 'camel-case'">camelCase</button>
    <button class="conv-button" (click)="selectConv('pascal-case')" [class.selected]="convention === 'pascal-case'">PascalCase</button>
    <button class="conv-button" (click)="selectConv('kebab-case')" [class.selected]="convention === 'kebab-case'">kebab-case</button>
</div>

<div class="textarea-container">
    <div class="text-icon-container">
        <span class="material-symbols-outlined icon" (click)="clearInput()">close</span>
        <textarea class="input" [(ngModel)]="inputData" (input)="onTextInput()" placeholder="Enter text" rows="10" columns="50"></textarea>
    </div>
    <div class="text-icon-container">
        <span class="material-symbols-outlined icon" (click)="onFavorite()" [class.selected]="favorite">star</span>
        <textarea class="output" [(ngModel)]="outputData" placeholder="Translation" rows="10" columns="50" disabled></textarea>
    </div>
</div>

<div>
    <a routerLink="/saved">Get favorites</a>
</div>